.maintenance-container{
    background-color: rgb(241, 241, 241);
    min-height: 100vh;
    min-height: 100vh;
}

.maintenance-noti-container{
    padding: 50px 15%;
    width: 100%;

}

.noti-text{
    font-size: 25px;
}

.back-soon{
    font-weight: 700;
}

.tarc-team{
    font-weight: bold;
}

#maintenance-gif{
    width: 100%;
    max-width: 600px;
    position: relative;
}